body {
    margin: 0;
    background-color: black;
    color: white;
}


#firstsec {
    border: solid;
    font-size: 7em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    text-align: center;
    margin-top: 15rem;
}

#name {
    color: rgb(218, 66, 197);

}

#littletext {
    font-size: 0.1em;
}


#aboutme {
}



#tech img {
    height: 200px;
    width: auto;

}